#----- Deployment -----
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: dev
  labels:
    name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      name: redis
  template:
    metadata:
      labels:
        name: redis
    spec:
      containers:
      - name: redis
        image: redis:latest
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: redis-data
          mountPath: /data/redis
      volumes:
      - name: redis-data
        persistentVolumeClaim:i
          claimName: redis-pvc
      


---
#----- Service -----
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: dev
spec:
  selector:
    name: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379